html, body {
    font-family: Arial,helvetica,sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
}

h3 {
  font-size: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
}

.input-isolevel {
	width: 90%;
}

.container {
	width: 100%;
	height: 100%;
	position: absolute;
}

.flex-container {
	width: 100%;
	height: 100%;
	display: flex;
}

.flex-excitonwf {
	flex: 2;
	width: 100%;
	height: 100%;
	position: relative;
}

.flex-highcharts {
	flex: 2;
	width: 100%;
	height: 100%;
	position: relative;
}

.flex-input {
	flex: 1;
	width: 100%;
	height: 100%;
	position: relative;
}


#excitonwf {
	height: 100%;
	width: 100%;
	position: absolute;
}

#highcharts {
    height: 100%;
    width: 100%;
	  position: absolute;
}
