html, body {
    font-family: Arial,helvetica,sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
}

h3 {
  font-size: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
}

canvas {
    width: 100%;
    height: 100%
}

.input-isolevel {
	width: 90%;
}

.container {
	width: 100%;
	height: 100%;
	position: absolute;
}

.disclaimer p {
    color: red;
}

.materials {
    list-style: none;
    overflow: auto;
    margin: 0;
    padding-left: 0;
}

.materials li a {
    text-decoration: none;
    margin-bottom: 0.2em;
    display: block;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}

.materials li a:hover {
    background: deepskyblue;
}

.flex-container {
	width: 100%;
	height: 100%;
	display: flex;
}

.flex-excitonwf {
	flex: 2;
	width: 100%;
	height: 100%;
	position: relative;
}

.flex-highcharts {
	flex: 2;
	width: 100%;
	height: 100%;
	position: relative;
}

.flex-input {
	flex: 1;
	width: 100%;
	height: 100%;
	position: relative;
}


#excitonwf {
	height: 100%;
	width: 100%;
	position: absolute;
}

#highcharts {
    height: 100%;
    width: 100%;
	  position: absolute;
}
